@font-face {
    font-family: 'source-sans-pro';
    src: url('source-sans-pro.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source-sans-pro-light';
    src: url('source-sans-pro.extralight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

* {
    font-family: source-sans-pro, sans-serif;
}

h1, h3 {
    font-family: source-sans-pro-light, source-sans-pro, sans-serif;
}

body {
    background-color: #aed6d6;
}

.container {
    margin: 0 auto;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0px 0px 0px 0px;
    transition: all 0.1s;
}

.authcontainer {
    padding: 50px 25px 50px 25px;
}

@media (min-width: 1060px) {
    .container {
        width: 1007px;
    }
    .authcontainer {
        width: 450px;
    }
}

@media (max-width: 1060px) and (min-width: 560px) {
    .container {
        width: 95%;
    }
    .authcontainer {
        width: 450px;
    }
}

@media (max-width: 560px) {
    .container {
        margin: 2px 0px 2px 0px;
        width: 100%;
    }
    .authcontainer {
        width: 75%;
    }
}

h1 {
    text-align: center;
}

.textbox {
    width: 80%;
}

.center-items {
    text-align: center;
}

td.center-items {
    padding: 20px 0px 15px 0px;
}

table {
    width: 100%;
}

label {
    font-size: 18px;
}

.btn {
    position: relative;
    width: 100px;
    height: 32px;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 8px;
    box-shadow: 0 1px 1.5px rgba(0, 0, 0, .6);

    background-color: #ffa500;
    color: #111111;
    font-size: 18px;

    transition: background-color .3s;
    text-decoration: none;
    
    transition: all 0.3s;
}

.btn:hover, .btn:focus {
    background-color: #00d12f;
}

.btn:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
  
.btn:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
}

.btnsmall {
    width: 85px;
}

.btnlarge {
    width: 200px;
}

.authbtn {
    background-color: #eeffee;
    color: #000000;
}

.authbtn:hover, .authbtn:focus {
    background-color: #ddeedd;
}

.header {
    height: 30px;
    width: 100%;
    background-color: #ffa500;
    margin: 0 auto;
    margin-bottom: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.header * {
    color: #ffffff;
    font-size: 20px;
    margin: 0px 5px 0px 5px;
    text-decoration: none;
}

.header a:hover {
    text-decoration: overline;
}

.enter {
    margin-left: 5px;
    margin-bottom: 20px;
}

.bibs:nth-child(3) {
    width: 45%;
}

table.entries {
    margin: 10px 0px 10px 5px;
}

table.entries td:not(:first-child) {
    padding: 10px 0px 10px 0px;      
}

table.entries td {
    border-bottom: 2px solid #ffa500;
}

.export {
    display: block;
    margin: 10px;
    margin-bottom: 25px;
}

.export, .export i {
    font-family: 'Times New Roman', Times, serif;
}

.input tr td {
    border: 0;
}

.input {
    width: 100%;
}

.input input {
    width: 100%;
    margin-left: -50px;
}

.left-margin {
    margin-left: 5px;
}